*{
    font-family: "Times New Roman";
   }
   
   ul{
            list-style-type: none;
        }
        h1, h2, h3{
            text-align: center;
            color:ghostwhite;
            
        }
        
        body{
        background-color: black;
        background-attachment: fixed;
        background-position: center;
        background-size: 100%;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
            }
    a{
        color: rgb(204, 103, 162);
    }

    .menlink {
        font-size : 15px;


    }
    .imgpic{
        opacity: 90%;
        size: 90%;
        position: absolute;
        
    }